<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Single Source of Truth</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a ng-href="view1">Home</a></li>
      </ul>
    </div>
  </div>
</nav> <!-- end navigation -->

<div class="container">
  <div class="col-md-12">
    <h1 class="text-center">{{product.data.productName}}</h1>

    <div id="projectCard" ng-repeat="project in product.data.projectProperties track by $index">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h2 class="d-inline-block all-margin-0 margin-bottom-3">
            {{project.projectName}}
          </h2>
          <p class="float-right">
            Last Built: {{project.data.builds[project.data.builds.length - 1].testCases[0].timestamp}}
          </p>
        </div>
        <div class="panel-body">
          <button class="btn btn-primary float-right" ng-click="product.goToHistory(project.projectId)" type="button">History</button>
          <div class="media">
            <div class="media-left">
              <i class="fa fa-link" aria-hidden="true"></i>
            </div>
            <div class="media-body">
              <p class="all-margin-0 margin-bottom-3">Code URL: {{project.data.builds[project.data.builds.length - 1].testCases[0].location}}</p>
            </div>
          </div>

          <div class="media-left">
            <i class="fa fa-link" aria-hidden="true"></i>
          </div>
          <div class="media-body">
            <p class="all-margin-0 margin-bottom-3">Build URL: {{project.data.builds[project.data.builds.length - 1].buildURL}}</p>
          </div>

          <div class="media">
            <div class="media-left">
              <!-- <i class="fa fa-link" aria-hidden="true"></i> -->
            </div>
            <div class="media-body">
              <p class="all-margin-0 margin-bottom-3">Build Id: {{project.data.builds[project.data.builds.length - 1].buildId}}</p>
            </div>
          </div>
          
          <div>
            <h3 data-toggle="collapse" href="#collapseExample{{$index}}" aria-expanded="false" aria-controls="collapseExample">
              <i class="fa fa-shield fa-rotate-270"></i>
              <i class="fa fa-shield fa-flip-horizontal"></i>
              Test Cases
            </h3>
            <div class="collapse" id="collapseExample{{$index}}">
              <ul style="padding: 0;">
                <li style="list-style:none;" class="text-danger" ng-repeat="testCase in project.data.builds[0].testCases">
                  <table class="responsive-table">
                    <thead>
                      <tr>
                        <th scope="col">Run Status</th>
                        <th scope="col">Description</th>
                        <th scope="col">Test Case Id</th>
                        <th scope="col">Timestamp</th>
                        <th scope="col">Test Build Id</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <td colspan="2">stuff</td>
                      </tr>
                    </tfoot>
                    <tbody>
                      <tr>
                        <th scope="row" ng-class="testCase.runStatus">{{testCase.runStatus}}</th>
                        <td data-title="Description">{{testCase.description}}</td>
                        <td data-title="Test Case Id">{{testCase.testCaseId}}</td>  
                        <td data-title="Timestamp">{{testCase.timestamp}}</td>
                        <td data-title="Build Id">{{testCase.buildId}}</td>
                      </tr>
                    </tbody>
                  </table>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end project card-->

  </div>
</div>

