<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Single Source of Truth</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a ng-href="view1">Products</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>



<div class="container">
    <div class="starter-template">
        <h1>Products</h1><br>
<!--         <p class="lead" style="margin-bottom: 20px;">Select products Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p> -->
    </div>
</div>

<div class="container">

	<div class="input-group" style="margin-bottom: 30px;">
      <span class="input-group-addon" id="basic-addon3">Toggle Strict</span>
      <span class="input-group-addon">
        <input type="checkbox" ng-model="strict" aria-label="Strict search">
      </span>
      <input class="form-control" ng-model="search.productName" aria-label="Search for product by name" placeholder="Search for product by name..."> 
    </div>

	<div ng-repeat="product in view1.productsList.products | filter:search:strict">
		<a ng-href="/product/{{product.productId}}">
			<p class="lead" style="margin-bottom:0;">
				{{product.productName}}
			</p>
			<p style="padding-left: 10px; width: 75%;">
				<small>{{product.description}}</small>
			</p>
		</a>
	</div>
</div>